extends layout

block content
  a(href= '/') &lt; Back
  h1= title
  h2 Info
  table
    each key in keys
      tr
      - var value = game[key]
        td #{key}
        td #{value}
  h2 Screenshots
  div 
    each url in screenshots
      - var imageJS = "url('" + url + "');"
      div.center-cropped(style={ 'background-image': imageJS})
  h2 Covers
  div
    each url in covers
      - var imageJS = "url('" + url + "');"
      div.center-cropped(style={ 'background-image': imageJS})

    